.Li__wrapper{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height:92vh;
    height:auto;
    height: fit-content;

    .Li__heading-1, .Li__heading-2{
        margin: 0;
        font-size: 6rem;
        color:var(--white);
        font-weight: 800;
    }

    .Li__heading-2{
        color: var(--blue);
    }

    .Li__heading-1:hover{
        color: var(--black);
        -webkit-text-stroke: 2px var(--white);
        transition: all 0.5s
    }

    .Li__para{
        color:var(--grey);
        font-weight: 300;
    }
    .Li__flexbtn{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
    }

}

.phone__box{
    position: relative;
    width: 50%;
    // height: 60%;
    display: block;
    margin-left: auto;
    

    .phone__gradient{
        position: absolute;
        top: 5rem;
        right:3rem;
        // z-index: -1;
        width: 40%;
        min-width: 200px
    }

    .phone{
        position: absolute;
        top: 0;
        right: 2rem; 
        width: 50%;
        min-width: 250px;
    }
}


@media only screen and (max-width:800px) {
    .phone__info{
        display:block;
        margin-left:auto;
        margin-right: auto;
        // height: 70%;
    }

    
    .Li__wrapper{

        flex-direction: column;
        align-items:center;
        // height: 130vh;
        
        .Li__heading-1, .Li__heading-2{
            font-size: 4rem;
            text-align: center;
        }
    
        .Li__para{
            font-size: 0.8rem;
            text-align: center;
        }
        .Li__flexbtn{
            display: flex;
            justify-content: center !important;
            align-items: center ;
            gap:1.2rem;
        }
    }

    .phone__box{
        margin-top: 2.5rem;        
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        height: 500px;
        // column-gap: 4rem;
        // top:2rem;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        .phone__info{
            display:block;
            margin-left:auto;
            margin-right: auto;
        }
        .phone__gradient, .phone{
            margin-left: auto;
            margin-right: auto;
        }
    
        .phone__gradient{
            left: 1rem;
            bottom:2rem;
        }
    
        .phone{
            left: -1rem;
            bottom:1rem;
        }
    }
    
    
}

@media only screen and (max-width: 600px){
    .Li__heading-1,.Li__heading-2{
        font-size: 3rem;
        text-align: center
    }
}

// .Li__wrapper {
// }